<!DOCTYPE html>
<html>
  <head>
    <title>BuxIq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white dark:bg-gray-900">
    <main>

      <% if notice%>
        <div class="notice p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
          <%= notice %>
        </div>
      <%end%>
      <% if alert%>
        <div class="alert p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <%= alert %>
        </div>
      <%end%>

      <% if user_signed_in?%>  
        <%=render 'layouts/navbar'%>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
